/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: none repeat scroll 0 0 transparent;
    font-family: 'PT Serif', helvetica, serif;
    font-size: 12px;
    color: black;
}

a {
    color: #777777;
    text-decoration: none;
}


a:hover {
    color: red;
}

/* Site */
#header {
    background-color: black;
    color: white;
    height: 20px;
    width: 100%;
    //border-top: 1px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header #name {
    font-size: 20px;
    float: left;
    margin-left: 40px;
}

#header a {
    color: white;
}

#header a:hover {
    color: red;
}

#header #name a span{
    font-weight: bold;
}

#header ul {
    display: inline;
    float: right;
    margin-right: 40px;
    text-align: right;
    padding-top: 2px;
}

#header li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
}

#header li a {
    margin-right: 5px;
    margin-left: 5px;
}

#container {
    margin: 0 auto;
    width: 900px;
    padding-top: 40px;
}

#content {
    padding: 20px 50px 100px 50px;
}

#footer {
    background-image: url("/images/ornament1.png");
    background-repeat: repeat-x;
    padding: 30px 50px;
    text-align: center;
}

#footer a {
    display: inline-block;
    width: 200px;
}

#footer a:hover {
    color: black;
}

#footer .social_icon {
    background-repeat: no-repeat;
    background-position: center top;
    padding: 52px 10px 10px;
}

#footer .rss {
    background-image: url("/images/rss_grey.png");
}

#footer a:hover .rss {
    background-image: url("/images/rss_black.png");
}

#footer .github {
    background-image: url("/images/github_grey.png");
}

#footer a:hover .github {
    background-image: url("/images/github_black.png");
}

#footer .twitter {
    background-image: url("/images/twitter_grey.png");
}

#footer a:hover .twitter {
    background-image: url("/images/twitter_black.png");
}

/* Home */

#posts li {
    list-style-type: none;
    border-bottom: 1px solid #EEEEEE;
    padding: 7px 5px;
    line-height: 160%;
}

#posts li .date {
    color: #777777;
    float: right;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 3px;
}

#posts li a {
    color: black;
    font-size: 20px;
}

#posts li a:hover {
    color: red;
}
/* Posts */

